---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="About Me: Jose Centeno" sideBarActiveItemID="about">

  <h2 class="text-3xl w-full font-bold mb-5">About Me</h2>

  <p>Hello there! I'm a passionate developer whose curiosity knows no bounds. I have an insatiable appetite for learning new things, especially in the ever-evolving world of technology.</p>
  <br/>
  <p>My journey in the realm of development is a constant exploration, where each line of code is an opportunity to unravel new possibilities. I thrive on challenges, always eager to push my limits and embrace the latest innovations in the field.</p>
  <br/>
  <p>Whether it's mastering a new programming language, delving into cutting-edge frameworks, or solving complex problems, I find joy in the process of continuous learning. My commitment to staying abreast of industry trends reflects in the quality and efficiency of my work.</p>
  <br/>
  <p>Join me on this exciting journey of discovery and innovation, where the code is not just a means to an end but a canvas for creativity and problem-solving.</p>
</BaseLayout>
