---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout
  title="Projects"
  sideBarActiveItemID="projects"
>
  <div>
    <div class="text-3xl w-full font-bold mb-5">My projects reside here</div>
  </div>

  <HorizontalCard
    title="Drivers"
    img="/DriversPIMain.png"
    desc="Full Stack application using React.js, Node, Express, PostgreSQL and Sequelize, which shows F1 drivers"
    url="https://drivers-josecentenodev-henrypi.vercel.app/"
    badge="New"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Flexibble"
    img="/FlexibbleMain.png"
    desc="Application using Next.js 14 and Grafbase, allowing developers to share personal projects."
    url="https://grafbase-flexibble-beta-three.vercel.app"
    badge="Under maintenance"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Promptopia"
    img="/promptopiaMain.png"
    desc="Discover the best prompts from the community for use with artificial intelligence models. Development with Next.js."
    url="https://share-prompts-josecentenodev.vercel.app"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Gif App"
    img="/GifApp.png"
    desc="Developed with React, a GIF search app featuring infinite scroll."
    url="https://giffyapp-josecentenodev.vercel.app"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Meowter"
    img="/MeowterChat.png"
    desc="Chat implemented with Next.js. Provides real-time updates on the publication date."
    url="https://meowter-josecentenodev.vercel.app"
  />
</BaseLayout>
